@import "~bootstrap/scss/bootstrap.scss";

main {
  position: relative;
  top: 1.5rem;
  bottom: 3.5rem;

}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}

.arrow {
  width: 30px;
  height: auto;
  margin: 0;
  padding: 0;
}
  .dropdown-toggle:hover {
    color: #245564 !important;
    transition: 2s;
  }
  .arrow:focus {
    color: #245564 !important;
    transition: 2s;
  }

.navbar-brand {
  height: 120px;
  width: 250px;
}
.navbar-toggler {
  font-size: 2.25rem;
  color: #5ab4ab !important;
  //margin-bottom: 1em;
}

.navbar {
  .navbar-collapse {
    align-items: center;
  }
  .navbar-nav {
    .nav-link {
      color: #5ab4ab;
    }
    .nav-link:focus {
      color: #245564;
      transition: 2s;
    }
    
    .nav-link:hover {
      color: #245564;
      transition: 2s;
      a:hover {
        color: #e9ecef;
        transition: 2s;
      }
    }
    .dropdown-menu {
      position: absolute;
      /* z-index: -66; */
      right: 13px;
      top: 33px;
      left: -7px;
      background-color: #f9fafb;
      border: none;
      min-width: 130px !important;
      
      .nav-link {
        color: #5ab4ab;
        padding: 0.4rem 0.5rem;
      }
        .nav-link:hover {
          color: #245564;
          transition: 2s;
        }

      .nav-link:focus {
          color: #245564;
          transition: 2s;
        }
      
    }
  }

  .active {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0) 100%);
    .navbar-light {
      .fas {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
}

.masthead {
  padding-top: 18.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../public/DSC_8060.JPG");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  left: 0;
  top: 0;
  //opacity: .75;
}

.masthead-header {
  position: absolute;
  bottom: 8px;
  left:16px;
  width: 300px;
  background-color: rgb(90, 181, 172, .4);
  //height: calc(60px - 10%);
  
}

.text-span {
  color: #245564;
}



.fixed-bottom {
  bottom: 3em;
  width: fit-content;
}
.btn-dark {
  background-color: #5ab4ab;
  border-color: #e9ecef;
  &:hover {
    background-color: #5ab4ab;
    transition: 2s;
  }
}

a {
  color: #000000;
  text-decoration: none;
  border: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.btn-primary {
  background-color: #5ab4ab;
  border-color: #5ab4ab;

  a:hover {
    color: #e9ecef;
    transition: 2s;
  }

  &:hover {
    color: #fff;
    background-color: #245564;
    border-color: #5ab4ab;
    transition: 2s;
  }
  &:focus {
    color: #fff;
    background-color: #245564;
    border-color: #5ab4ab;
    box-shadow: 0 0 0 0.25rem rgba(90, 180, 171, 0.5);
    transition: 2s;
  }
}

.btn-info {
  color: #000;
  background-color: #5ab4ab;
  border-color: #5ab4ab;
}

.card {
  width: 100% !important;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.property {
  //width: 420px;
  .banner {
    height: 250px;
    background-color: #fff;
    
    &:hover,:active {
     background-color:#5ab4ab;
     transition: 1s;
     h3 {
       color:white;
     }
    }
   
  }
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgb(90 180 171 / 52%) !important;
}

.text-list:first-letter {
  text-transform: capitalize;
}
.service-heading {
  color:#245564;
}

.concierge-subheading,
.property-subheading {
  color: #5ab4ab;
  
}
.concierge-subheading-text,
.property-subheading-text {
  color: #245564;
}

.fa-stack {
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  position: relative;
  width: 2.5em;
}

.fa-4x {
  font-size: 4em;
}

.fa-stack-1x, .fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--fa-stack-z-index,auto);
}

svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em;
}
.fa-inverse {
  color: var(--fa-inverse,#fff);
}
.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em;
}
.text-hogar {
  color: #5ab4ab;
}
.text-hogar2 {
  color: #245564;
}

.team-card {
  border-bottom: #5ab4ab solid;
}
.contact {
  background-color: #5ab4ab;
}

.form-header {
  background-color: #fff;
  height: 50px;
  margin-bottom: 30px;
  position: relative;
  top: -38px;
}
.input-group-text {
  background-color: #5ab4ab;
  border: 1px solid #fff;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #245564;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(34, 73, 85, 0.5);
}

.btn-hogar {
  background-color: #5ab4ab;
}
.btn-hogar2 {
  background-color: #245564;
}
.footer {
  height: 40px;
  bottom: 0;
  margin-top: 3em;
  position: relative;
  justify-content: center;
  display: flex;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
  .navbar-light {
    .navbar-nav {
      .nav-link:hover {
        color: #245564;
        transition: 2s;
        :focus {
          color: #245564;
          transition: 2s;
        }
      }
      .dropdown-menu {
        position: absolute;
        /* z-index: -66; */
        right: 13px;
        top: 33px;
        left: -7px;
        background-color: white;
        border: none;
        .nav-link {
          color: #5ab4ab;
          padding: 0.4rem 0.5rem;

          &:hover {
            color: #245564;
            transition: 2s;
          }
          &:focus {
            color: #245564;
            transition: 2s;
          }
        }
      }
    }
  }
}

@media (min-width: 720px) {
  .card {
    width: 20rem !important;
  }

  .navbar-light {
    .navbar-nav {
      .nav-link:hover {
        color: #245564;
        transition: 2s;
      }
      &:focus {
        color: #245564;
        transition: 2s;
      }
      .dropdown-menu {
        position: absolute;
        /* z-index: -66; */
        right: 13px;
        top: 30px;
        left: 6px;
        background-color: white;
        border: none;
        
     
        .nav-link {
          color: #5ab4ab;
          padding: 0.4rem 0.5rem;

          &:hover {
            color: #245564;
            transition: 2s;
          }
          &:focus {
            color: #245564;
            transition: 2s;
          }
        }
      }
    }
  }
}
