html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
   min-height: 100vh;
	 width: 100%;
   overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #5ab4ab;
}

* {
  box-sizing: border-box;
}
